<div class = "container">
	<form action="/create" method="POST">
		<div class = "name">
		<input type = "text" name="title" size="100" />
		</div>
		<div class = "content">
		<textarea name = "content" rows="6" cols="100"></textarea>
		</div>
		<div class = "submit">
		<input type = "submit" value="Submit"/>
		</div>
	</form>
</div>